html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  text-decoration: underline;
  -webkit-text-decoration-color: #FC9AC9; /* Safari */  
  text-decoration-color: #FC9AC9;
  text-decoration-thickness: 5px;
}
