.body {
    background-color: #FFFCE7;
    padding: 36px;
    padding-top: 0;
    min-height: 100vh;
}

.container {
    max-width: 	1536px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.skillContainer {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 12px;
}

.skill {
    padding: 12px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 16px;
    font-size: 18px;
}

.tecnologiesContainer {
    display: flex;
    flex-flow: wrap;
}

.technology {
    padding: 12px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.technologyIcon {
    font-size: 40px;
    margin-bottom: 8px;
}

.studies {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;

}


.job {
    display: flex;
    flex-direction: column;
    display: flex;
}

.textAbout {
    max-width: 90ch;
    font-size: 18px;
    border-radius: 12px;
    margin: 0 0 26px 0;
}

@media (max-width: 850px) {
    .studies {
      flex-direction: column;
      align-items: center;
    }
    .job{
        width: 100%;
    }
    .skill {
        margin-bottom: 16px;
    }
    .technology {
        margin-bottom: 16px;
    }
  }