.body {
    background-color: #FFFCE7;
    padding: 16px 36px 0px 36px;
}

.container {
    max-width: 	1536px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    justify-content: space-around;
}

.title {
    font-weight: 800;
    margin: 0;
    font-size: 56px;
}

.subTitle {
    font-weight: 500;
    margin: 0;
    max-width: 60ch;
    margin-top: 12px;
    text-decoration: none;
}

/* .buttonsLanguage {
    align-self: flex-end;
}

.button {
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    color: #D6CCFC;
    font-weight: 600;
}

.selectLanguage {
    color: #D6CCFC;
    font-weight: 600;
} */

.contact {
    margin-top: 3vw;
    color: #E68C90;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.contactItem {
    margin-bottom: 20px;
    cursor: pointer;
}

.contactItem:hover {
    color: #D6CCFC;
}

.contactIconContainer {
    display: flex;
}

.contactIcon {
    margin-right: 12px;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.contactIcon:hover {
    color: #D6CCFC;
}

.image {
    width: 100%;
    display: flex;
    justify-content: end;
}

.image img {
    max-width: 100%;
}

.heartIcon img {
    margin-left: 12px;
}

@media (max-width: 850px) {
    .contactIcon {
        font-size: 18px;
    }
    .title {
        font-size: 30px;
    }
    .subTitle {
        font-size: 18px;
    }
  }